main {
    margin-bottom: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.van-list-container {
    width: 80%;
}

.van-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 0;
}

.van-list a {
    text-decoration: none;
}

.van-tile {
    width: 200px;
    flex-basis: 20%;
}

.van-tile img {
    width: 100%;
    max-height: 400px;
    border-radius: 10px;
}

.van-info {
    color: #161616;
    margin-block: 15px;
    display: flex;
    justify-content: space-between;
}

.van-type {
    color: #4D4D4D;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-style: normal;    
    background-color: #FFEAD0;
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.clear {
    background-color: gainsboro;
    color: black;
}

.van-type-filter-container{
    margin-block-start: 15px;
}

.van-type-filter-container a {
    margin-inline-end: 25px;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}